@import 'tailwindcss';
body {
    text-align: center;
}
.menubar {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 16px;
}
input {
    border: 2px solid #ddd;
}